/target/*
product*.log
.settings
.sts4-cache
.vscode
.classpath
.project
.idea
/target/
/.apt_generated/
/.apt_generated_tests/
/product.iml
/.factorypath
/product.log.2022-12-12.0.gz
/product.log.2022-12-13.0.gz
